:root {
  --clr-dark-grey: #110F0F;
  --clr-gold: #AF8012;
  --clr-light-b: #4AE3FB;
  --clr-light-p: #DF2BDF;
  --clr-white: #F5F5F5;
  --ff-primary:'Kanit', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --ff-sm0l: var(--ff-primary);

  --fw-reg: 500;
  --fw-bold: 800;
  --fw-sm0l: 300;

  --fs-body: 1.25rem;
  --fs-headl: 3.75rem;
  --fs-subhead: 2.25rem;
  --fs-inter: 5rem;


}

*{
  box-sizing: border-box;
}

@media (min-width: 600px) {
  :root {
    --fs-body: 2rem;
    --fs-headl: 4.5rem;
    --fs-subhead: 3rem;
    --fs-inter: 6.5rem;
  }
}

html,
body {
  height: 100%;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--clr-dark-grey);
  margin: 0;

}

h1 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  font-size: var(--fs-headl);
  -webkit-text-stroke: 1px var(--clr-gold);
  -webkit-text-fill-color: var(--clr-dark-grey);
  text-align: center;

}

h2 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  font-size: var(--fs-inter);
  color: var(--clr-white);
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 20rem;
}

#about {
  padding: 1rem;
}

.container {
padding: 1rem;
max-width: 50rem;

}

#music-container {
}

#style1 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  font-size: var(--fs-subhead);
  color: var(--clr-light-b);
}

#style2 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  font-size: var(--fs-subhead);
  color: var(--clr-white);
  text-align: right;

}

#style3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  font-size: var(--fs-subhead);
  -webkit-text-stroke: 1px var(--clr-light-p);
  -webkit-text-fill-color: var(--clr-dark-grey);
}

.button {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  color: var(--clr-light-p);
  border: 0.125em solid var(--clr-light-p);
  text-decoration: none;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.25em hsl(0 0% 100% / 0.5), 0 0 1em var(--clr-light-p);

  box-shadow: inset 0 0 0.5em 0 var(--clr-light-p), 0 0 0.5em 0 var(--clr-light-p);
  position: relative;
  transition: background-color 100ms linear;
}

.button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-light-p);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.25);
  filter: blur(1.5em);
  opacity: 0.7;

}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-light-p);
  opacity: 0;
  background-color: var(--clr-dark-grey);
  z-index: -1;
  transition: opacity 100ms linear;

}

.button:hover::after {
  opacity: .8;
}

.button:hover,
.button:focus {
  background-color: var(--clr-light-p);
  color: var(--clr-dark-grey);
  text-shadow: none;

}

#button2 {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  color: var(--clr-light-b);
  border: 0.125em solid var(--clr-light-b);
  text-decoration: none;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.25em hsl(0 0% 100% / 0.5), 0 0 1em var(--clr-light-b);

  box-shadow: inset 0 0 0.5em 0 var(--clr-light-b), 0 0 0.5em 0 var(--clr-light-b);
  position: relative;
  transition: background-color 100ms linear;
}

#button2::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-light-b);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.25);
  filter: blur(1.5em);
  opacity: 0.7;

}

#button2::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-light-b);
  opacity: 0;
  background-color: var(--clr-dark-grey);
  z-index: -1;
  transition: opacity 100ms linear;

}

#button2:hover::after {
  opacity: .8;
}

#button2:hover,
#button2:focus {
  background-color: var(--clr-light-b);
  color: var(--clr-dark-grey);
  text-shadow: none;

}

p {
  font-family: var(--ff-body);
  font-weight: var(--fw-reg);
  font-size: var(--fs-body);
  color: var(--clr-white);
}

ul {
  list-style: none;
}

.nav-list {
  display: none;
  flex-direction: row;
  grid-gap: 3rem;
  justify-content: end;
}


header {
  background-color: #010003;
  position: relative;
  width: 100%;
}

.main-header-inner {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
  font-family: var(--ff-body);
  font-size: var(--fs-sm0l);
  color: var(--clr-white);
}

.mobile-nav {
  width: 10rem;
  font-family: var(--ff-body);
  font-size: var(--fs-sm0l);
  position: absolute;
  background-color: black;
  margin: 0;
  padding: 0 1em 1em;
  top: 100%;
  right: 0;
}

.mobile-nav a {
  text-decoration: none;
  color: var(--clr-white);
}

#burga {
  width: 3.5rem;
  cursor: pointer;
}

.hidden {
  display: none;
}
.logo {
  display: inline-block;
  width: 5rem;
}

@media (min-width: 600px) {
  .nav-list {
    display: flex;
  }
  #burga {
    display: none;
  }
}

.footer-content {
  background-color: #010003;
  margin: 0;
  padding: 2rem;
}

.footer-logo {
  display: block;
  margin-inline: auto;
  width: 5rem;

}

.socials {
  display: flex;
  justify-content: center;
  grid-gap: .5rem;
  padding: 0;

}

.icon {
  width: 2rem;
}

.contacts {
  color: var(--clr-white);
  font-family: var(--ff-body);
  font-size: 0.825rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.splash-art {
  background-image: url(Images/Website-bg-new-blue-trim.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 52% 90%;
  height: 110vh;
  width: 100%;
}

.footer-transition {
  background-image: url(Images/Website-bg-footer-done.svg);
  height: 20rem;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;

}
